In [1]:
import random
import pandas as pd
from datetime import datetime
print(datetime.now())

ModuleNotFoundError: No module named 'pandas'

In [11]:
def lottery(iterations, lotteries=[]):
    for i in range(0, iterations):
	    winners = [random.randint(1, 80) for i in range(0, 6)]
	    if len(set(winners)) > 5:
	        lotteries.append(sorted(winners))
    return lotteries

In [12]:
selections=lottery(iterations=10000000)

In [13]:
df=pd.DataFrame(selections)
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)
winning_numbers_hoppefully=df.sample(3)
winning_numbers_hoppefully

          0   1   2   3   4   5
2287357  26  35  42  61  67  73
288733   33  35  38  40  65  75
1260497  21  22  51  60  67  73