In [ ]:
pip install pandas

In [1]:
import random
import pandas as pd
from datetime import datetime
print(datetime.now())

2022-09-06 16:52:08.250344

In [5]:
def lottery(iterations, lotteries=[]):
    for i in range(0, iterations):
	    winners = [random.randint(1, 60) for i in range(0, 6)]
	    if len(set(winners)) > 5:
	        lotteries.append(sorted(winners))
    return lotteries

In [6]:
selections=lottery(iterations=10000000)

In [7]:
df=pd.DataFrame(selections)
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)
winning_numbers_hoppefully=df.sample(6)
winning_numbers_hoppefully

          0   1   2   3   4   5
3893892   4   5  29  31  52  55
752497    8  14  33  38  40  49
6878042   2   6  22  36  37  44
240689    1  24  27  35  40  46
4225293  15  16  26  34  39  43
1724336   9  16  22  35  43  46