#P02: Propriedades básicas das Series

In [1]:
import pandas as pd

#cria a Series "alunos"

In [2]:
alunos=pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill','M14':'Cris','M19':'Jimi'})

#atribui nomes para os vetores de dados e rótulos

In [3]:
alunos.name="alunos"
alunos.index.name="matrículas"

#recupera e imprime as propriedades

In [4]:
print(alunos)
print('---------')
tamanho=alunos.size
dados=alunos.values
rotulos=alunos.index
alunos_tipo=type(alunos)
alunos_dtype=alunos.dtype
alunos_idx_dtype=alunos.index.dtype

print('número de elementos:', tamanho)
print('vetor de dados:',dados)
print('vetor de rótulos:',rotulos)
print('tipo type:',alunos_tipo)
print('dtype da Series:',alunos_dtype)
print('dtype do vetor de rótulos:',alunos_idx_dtype)

matrículas
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: alunos, dtype: object
---------
número de elementos: 5
vetor de dados: ['Bob' 'Dayse' 'Bill' 'Cris' 'Jimi']
vetor de rótulos: Index(['M02', 'M05', 'M13', 'M14', 'M19'], dtype='object', name='matrículas')
tipo type: <class 'pandas.core.series.Series'>
dtype da Series: object
dtype do vetor de rótulos: object

#Técnicas para consulta e modificação de dados

#Indexação tradicional - Recupera um elemento da series

In [5]:
alunos[0]

'Bob'

In [6]:
alunos[1]

'Dayse'

In [7]:
alunos['M14']

'Cris'

In [8]:
alunos[alunos.size-1]

'Jimi'

In [9]:
alunos[-1]

'Jimi'

#Fatiamento (slicing) - Recupera mais de um elemento
por intervalos (ranges) definidos por dois pontos ':' e por listas

In [10]:
alunos[0:2]

matrículas
M02      Bob
M05    Dayse
Name: alunos, dtype: object

In [11]:
alunos[2:4]

matrículas
M13    Bill
M14    Cris
Name: alunos, dtype: object

In [12]:
alunos[:2]

matrículas
M02      Bob
M05    Dayse
Name: alunos, dtype: object

In [13]:
alunos[2:]

matrículas
M13    Bill
M14    Cris
M19    Jimi
Name: alunos, dtype: object

In [14]:
alunos[-2:]

matrículas
M14    Cris
M19    Jimi
Name: alunos, dtype: object

In [15]:
alunos[1:5:2]

matrículas
M05    Dayse
M14     Cris
Name: alunos, dtype: object

In [16]:
alunos[[2,0,4]]

matrículas
M13    Bill
M02     Bob
M19    Jimi
Name: alunos, dtype: object

#Indexação booleana

#Cria a Series "notas" e "alunos"

In [17]:
notas=pd.Series([7.5,5.0,8.5,9.5,6.4])
alunos=pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill','M14':'Cris','M19':'Jimi'})

In [18]:
#obtem os índices dos alunos aprovados
idx_aprovados=notas[notas >= 7].index

In [19]:
#imprime os alunos aprovados
print('relação de alunos aprovados')
print('---------------')
print(alunos[idx_aprovados])

relação de alunos aprovados
---------------
M02     Bob
M13    Bill
M14    Cris
dtype: object

#Busca - Verificar se determoados rótulos ou valores estão presentes em uma Series

In [20]:
# Cria a Series "alunos"
alunos=pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill','M14':'Cris','M19':'Jimi'})

In [21]:
#teste se rótulos fazem parte de uma Series
tem_M13='M13' in alunos # para um rótulo utiliza-se o "in" do Python
tem_M99='M99' in alunos
print("existe o rótulo 'M13'? >",tem_M13 )
print("existe o rótulo 'M99'? >",tem_M99)
print('------------------')

# testa se valor faz parte de uma Series
tem_Bob = alunos.isin(['Bob'])  # para valores em uma Series utiliza-se o método "isin" do Pandas
print("existe a valor 'Bob'")
print(tem_Bob)

existe o rótulo 'M13'? > True
existe o rótulo 'M99'? > False
------------------
existe a valor 'Bob'
M02     True
M05    False
M13    False
M14    False
M19    False
dtype: bool

#Modificação - Inserir, modificar e excluir elementos de uma Series

In [22]:
alunos=pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill','M14':'Cris','M19':'Jimi'})

In [23]:
print('Series original')
print(alunos)

Series original
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [24]:
#insere o aluno de matrícula M55, Rakesh
alunos['M55']='Rakesh'
#alterar os nomes Bill, Cris e Jimi para Billy, Cristy e Jimmy
alunos['M13']='Billy'
alunos[['M14','M19']]=['Cristy','Jimmy']
#remove o aluno de matrícula M02 (Bob)
alunos=alunos.drop('M02')
print('----------------')
print('Series após alterações')
print(alunos)

----------------
Series após alterações
M05     Dayse
M13     Billy
M14    Cristy
M19     Jimmy
M55    Rakesh
dtype: object

#Modificação de índices - pode-se alterar os índices de uma Series, utilizando a propriedade 'index'

In [25]:
alunos.index=['M91','M92','M93','M94','M95']

#Computação Vetorizada
Utilizar a estrutura "for...in" para iterar sobre uma Series (percorrer de ponta a ponta o vetor de dados ou o de rótulos)

In [26]:
#itera sobre os dados (nomes dos alunos)
for aluno in alunos:print(aluno)
#itera sobre os índices (matrículas) 
for indice in alunos.index:print(indice)

Dayse
Billy
Cristy
Jimmy
Rakesh
M91
M92
M93
M94
M95

In [27]:
#Operações aritiéticas com computação vetorizada
import pandas as pd
import numpy as np

In [28]:
#Cria a Series s1 e s2
s1=pd.Series([2,4,6])
s2=pd.Series([1,3,5])
print('s1');print(s1)
print('s2');print(s2)

#efetua as operações aritméticas
print('--------------')
print('s1*2')
print(s1*2)
print('---------------')
print(s1+s2)
print('---------------')
print('raiz quadrada dos elementos de s1')
print(np.sqrt(s1)) # com a Numpy!

s1
0    2
1    4
2    6
dtype: int64
s2
0    1
1    3
2    5
dtype: int64
--------------
s1*2
0     4
1     8
2    12
dtype: int64
---------------
0     3
1     7
2    11
dtype: int64
---------------
raiz quadrada dos elementos de s1
0    1.414214
1    2.000000
2    2.449490
dtype: float64

#Índices datetime

In [29]:
import pandas as pd

In [30]:
#(1) Cria a série temporal
dias=['10/02/2019','11/02/2019','12/02/2019','13/02/2019','14/02/2019','15/02/2019']
temp_max=[31,35,34,28,27,27]
serie_temporal=pd.Series(temp_max,index=dias)
#(2) Converte o tipo de índice para datetime e imprime a série
serie_temporal.indexx=pd.to_datetime(serie_temporal.index,format='%d/%m/%Y')

print(serie_temporal)

10/02/2019    31
11/02/2019    35
12/02/2019    34
13/02/2019    28
14/02/2019    27
15/02/2019    27
dtype: int64