Capítulo 3 - A estrutura de dados DataFrame

In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
#Cria o DataFrame
dados={'nome':['Argentina','Brasil','França','Itália','Reino Unido'],
    'continente':['América','América','Europa','Europa','Europa'],'extensão':[2780,8511,644,301,244],
            'corVerde':[0,1,0,1,0]
      }        
siglas=['AR','BR','FR','IT','UK'] 
paises=pd.DataFrame(dados,index=siglas)
#imprime DataFrame
print(paises)

           nome continente  extensão  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0

In [ ]:
"""Todo DataFrame é um objeto do tipo pandas.core.frame.DataFrame​ 
que possui as seguintes propriedades básicas: 
shape: formato do DataFrame, ou seja, o seu número de linhas (​ ​shape[0]​ ​) e de colunas (​ ​shape[1]
index: lista com os rótulos das linhas;
columns: lista com os rótulos das colunas; 
dtypes: retorna uma Series com os ​ ​dtypes​ ​ de cada coluna;
index.dtype: ​ ​dtype​ ​ dos rótulos das linhas.
"""

'Todo DataFrame é um objeto do tipo pandas.core.frame.DataFrame\u200b \nque possui as seguintes propriedades básicas: \nshape: formato do DataFrame, ou seja, o seu número de linhas (\u200b \u200bshape[0]\u200b \u200b) e de colunas (\u200b \u200bshape[1]\nindex: lista com os rótulos das linhas;\ncolumns: lista com os rótulos das colunas; \ndtypes: retorna uma Series com os \u200b \u200bdtypes\u200b \u200b de cada coluna;\nindex.dtype: \u200b \u200bdtype\u200b \u200b dos rótulos das linhas.\n'

In [ ]:
# Recupera e imprime as propriedades
print('--------------')
num_linhas=paises.shape[0]
num_colunas=paises.shape[1]
indices=paises.index
colunas=paises.columns
paises_tipo=type(paises)
paises_dtypes=paises.dtypes
paises_idx_dtype=paises.index.dtype

print('número de linhas:',num_linhas)
print('número de colunas:',num_colunas)
print('rótulos de linhas:',indices)
print('rótulos de colunas:',colunas)
print('tipo(type):',paises)
print('dtypes das colunas:\n',paises_dtypes)
print('dtype dos rótulos das linhas:',paises_idx_dtype)

--------------
número de linhas: 5
número de colunas: 4
rótulos de linhas: Index(['AR', 'BR', 'FR', 'IT', 'UK'], dtype='object')
rótulos de colunas: Index(['nome', 'continente', 'extensão', 'corVerde'], dtype='object')
tipo(type):            nome continente  extensão  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0
dtypes das colunas:
 nome          object
continente    object
extensão       int64
corVerde       int64
dtype: object
dtype dos rótulos das linhas: object

In [ ]:
"""
Algumas observações importantes: No vocabulário adotado pela pandas, 
o termo index é sempre utilizado para índices das linhas, 
nquanto o termo column é utilizado para os índices das colunas.  
Não esqueça que a primeira coluna está na posição 0, a segunda, na posição 1 etc. 
Da mesma forma, a primeira linha está na posição 0, a segunda, na posição 1 etc.
"""

'\nAlgumas observações importantes: No vocabulário adotado pela pandas, \no termo index é sempre utilizado para índices das linhas, \nnquanto o termo column é utilizado para os índices das colunas.  \nNão esqueça que a primeira coluna está na posição 0, a segunda, na posição 1 etc. \nDa mesma forma, a primeira linha está na posição 0, a segunda, na posição 1 etc.\n'

Técnicas para consulta e indexação de dados

In [ ]:
paises.iloc[1][0]
# d.iloc[i][j] retorna o valor da célula que ocupa a linha i, coluna j

'Brasil'

In [ ]:
paises.iat[1,0]
# d.iat[i,j] retorna o valor da célula que ocupa a linha i, coluna j

'Brasil'

In [ ]:
paises.iloc[3]['corVerde']
# d.iloc[i]['col'] retorna o valor da célula que ocupa a linha i, coluna denominada 'col'

1

In [ ]:
paises.loc['IT'][1]
# d.loc['idx'][j] retorna o valor da célula que ocupa a linha do índice de rótulo 'idx', coluna j

'Europa'

In [ ]:
paises.loc['FR']['nome']
# d.loc['idx']['col'] retorna o valor da célula que ocupa a linha do índice de rótulo 'idx', 
# coluna denominada 'col'

'França'

In [ ]:
paises.at['FR','nome']
# d.at['idx','col'] retorna o valor da célula que ocupa a linha do índice de rótulo 'idx', 
# coluna denominada 'col'

'França'

In [ ]:
"""
O fatiamento de DataFrames pode ser realizado com o uso dos métodos iloc()(por posição) e loc()
(por rótulo). Na tabela a seguir, são apresentadas as diferentes sintaxes que podem ser empregadas 
para fatiar colunas ou linhas inteiras. Em todos os casos, o resultado será retornado em objeto do 
tipo Series.

"""

'\nO fatiamento de DataFrames pode ser realizado com o uso dos métodos iloc()(por posição) e loc()\n(por rótulo). Na tabela a seguir, são apresentadas as diferentes sintaxes que podem ser empregadas \npara fatiar colunas ou linhas inteiras. Em todos os casos, o resultado será retornado em objeto do \ntipo Series.\n\n'

In [ ]:
paises['extensão']
# d['col'] retorna a coluna de nome 'col' (toda a coluna)

AR    2780
BR    8511
FR     644
IT     301
UK     244
Name: extensão, dtype: int64

In [ ]:
paises.corVerde
# d.col outra forma para retornar a coluna de nome 'col'

AR    0
BR    1
FR    0
IT    1
UK    0
Name: corVerde, dtype: int64

In [ ]:
paises.loc['BR']
# d.loc['idx'] retorna a linha associada ao índice de rótulo 'idx' (linha inteira)

nome           Brasil
continente    América
extensão         8511
corVerde            1
Name: BR, dtype: object

In [ ]:
paises.iloc[2]
# d.iloc[i] retorna a linha que ocupa a posição i (linha inteira)

nome          França
continente    Europa
extensão         644
corVerde           0
Name: FR, dtype: object

In [ ]:
"""
Testa se um dado rotulo de linha existe
"""
tem_BR = 'BR' in paises.index
tem_US = 'US' in paises.index
print("existe o rótulo 'BR'?->",tem_BR)
print("existe o rótulo 'US'?->",tem_US)
print('----------------')

existe o rótulo 'BR'?-> True
existe o rótulo 'US'?-> False
----------------

In [ ]:
"""
Testa se um dado rótulo de coluna existe
"""
tem_corVerde = 'corVerde'in paises.columns
tem_corAzul = 'corAzul'in paises.columns
print("existe o rótulo 'corVerde'?->",tem_corVerde)
print("existe o rótulo 'corAzul'?->",tem_corAzul)
print('----------------')

existe o rótulo 'corVerde'?-> True
existe o rótulo 'corAzul'?-> False
----------------

In [ ]:
"""Testa se um valor faz parte de uma coluna
"""
tem_Brasil = paises['nome'].isin(['Brasil'])
print("existe o valor 'Brasil' na coluna 'nome'?")
print(tem_Brasil)

existe o valor 'Brasil' na coluna 'nome'?
AR    False
BR     True
FR    False
IT    False
UK    False
Name: nome, dtype: bool

In [ ]:
"""
Para verificar se um rótulo de linha ou de coluna existe em um DataFrame, você deve aplicar o operador 
in sobre a lista de rótulos de linha ou de colunas, respectivamente (propriedades index e columns). 
Se você quiser testar se um valor está armazenado em uma coluna, precisará utilizar o método isin(). 
Em nosso exemplo, passamos para o método uma lista com um único elemento ('Brasil') e mandamos checar
a coluna nome. Como resultado, o método indicou True para a sigla BR.

"""

"\nPara verificar se um rótulo de linha ou de coluna existe em um DataFrame, você deve aplicar o operador \nin sobre a lista de rótulos de linha ou de colunas, respectivamente (propriedades index e columns). \nSe você quiser testar se um valor está armazenado em uma coluna, precisará utilizar o método isin(). \nEm nosso exemplo, passamos para o método uma lista com um único elemento ('Brasil') e mandamos checar\na coluna nome. Como resultado, o método indicou True para a sigla BR.\n\n"

Modificação
Este tópico apresenta as técnicas básicas para inserir e alterar linhas de um DataFrame e para modificar o conteúdo de alguma célula.

In [ ]:
# P14: Modificação de DataFrame
# insere o país Japão(JP)
paises.loc['JP'] = {'nome':'Japão','continente':'Ásia','extensão':372,'corVerde':0}
# altera a extensão do Brasil
paises.at['BR','extensão']=8512
# remove a Argentina e o Reino Unido
paises = paises.drop(['AR','UK'])

print('DataFrame após as alterações:')
print(paises)

DataFrame após as alterações:
      nome continente  extensão  corVerde
BR  Brasil    América      8512         1
FR  França     Europa       644         0
IT  Itália     Europa       301         1
JP   Japão       Ásia       372         0

In [ ]:
"""
Para inserir o Japão, bastou indicar os dados desse país em um dicionário e realizar a atribuição com
o uso do método loc(). Caso o DataFrame não possuísse rótulos de linha, seria preciso utilizar o método
iloc() com o índice da linha a ser inserida. Para alterar uma célula, no caso, a extensão do Brasil, 
utilizou-se um comando de atribuição simples que empregou o método at() com a indicação dos rótulos de 
linha e coluna da célula a ser alterada. Caso o DataFrame não possuísse rótulos de linha, seria preciso 
utilizar o método iat() com o índice da linha a ser alterada. 
Por fim, para remover linhas, basta utilizar o método drop() indicando a lista de rótulos de linha 
a serem removidos.

"""

'\nPara inserir o Japão, bastou indicar os dados desse país em um dicionário e realizar a atribuição com\no uso do método loc(). Caso o DataFrame não possuísse rótulos de linha, seria preciso utilizar o método\niloc() com o índice da linha a ser inserida. Para alterar uma célula, no caso, a extensão do Brasil, \nutilizou-se um comando de atribuição simples que empregou o método at() com a indicação dos rótulos de \nlinha e coluna da célula a ser alterada. Caso o DataFrame não possuísse rótulos de linha, seria preciso \nutilizar o método iat() com o índice da linha a ser alterada. \nPor fim, para remover linhas, basta utilizar o método drop() indicando a lista de rótulos de linha \na serem removidos.\n\n'

Trabalhando com arquivos
Importação de arquivos CSV

In [ ]:
# P15: Importação de CSV padrão para um DataFrame
import pandas as pd

In [ ]:
paises = pd.read_csv("paises.csv",index_col = "sigla")

In [ ]:
print(paises)

              nome continente  extensao  corVerde
sigla
AR       Argentina    América      2780         0
BR          Brasil    América      8511         1
FR          França     Europa       644         0
IT          Itália     Europa       301         1
UK     Reino Unido     Europa       244         0

In [ ]:
# P16: Importação de CSV sem cabeçalho e com separador ";"
notas = pd.read_csv("notas.csv",sep=";",
                    names=['matrícula','nota1','nota2'])
print(notas)

  matrícula  nota1  nota2
0  M0012017    9.8    9.5
1  M0022017    5.3    4.1
2  M0032017    2.5    8.0
3  M0042017    7.5    7.5

In [ ]:
import pandas as pd

In [ ]:
serie_gols = pd.read_csv("gols.txt",sep = ' ', index_col = 0).squeeze ()

In [ ]:
serie_gols = pd.to_datetime(serie_gols.index, format = '%d/%m/%Y')

In [ ]:
print(serie_gols)

DatetimeIndex(['2019-06-05', '2019-06-09', '2019-06-16', '2019-06-19',
               '2019-06-23', '2019-06-27', '2019-06-30'],
              dtype='datetime64[ns]', name='dia', freq=None)

Método 'read_table()'

In [ ]:
!pip list

Package         Version
--------------- -------
et-xmlfile      1.1.0
numpy           1.22.3
openpyxl        3.0.9
pandas          1.4.1
pip             22.0.4
python-dateutil 2.8.2
pytz            2021.3
six             1.16.0

In [ ]:
import pandas as pd

In [ ]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\clldu\appdata\roaming\python\python39\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\clldu\appdata\roaming\python\python39\site-packages (from openpyxl) (1.1.0)

In [ ]:
cidades = pd.read_excel("capitais.xlsx")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.